<ion-view view-title="Settings">
	<ion-content padding="true">
		<ul class="list">
			<li class="item item-divider">
				Defined Event Type
			</li>
			<li class="item item-button-right item-icon-left" ng-repeat="event_type in data.event_types" ng-click="editEventType(event_type, $index)">
				<i class="icon {{event_type.icon}}"></i> {{event_type.name}} ({{event_type.time_before}}s - {{event_type.time_after}}s)
				<button class="button button-assertive" ng-click="remove(data.event_types, $index)">
					<i style="left: 8px;" class="icon ion-trash-a"></i>
				</button>
			</li>

		</ul>
	</ion-content>
	<ion-footer-bar class="bar-positive" ng-click="addNewEventTypeModal()">
		<p class="title">
			Add new Event Type
		</p>
	</ion-footer-bar>
</ion-view>
