<ion-view view-title="Export Events">
  <ion-content padding="true">
	<ion-item style="text-align:center;background:grey;color:white;">
		Events
	</ion-item>
	<ion-list>
		<ion-checkbox  ng-repeat="event in eventList | orderBy: '-start'" ng-model="exportEvent[event.id]">
			{{event.start | date:'medium'}} - {{event.event.name}} - {{event.team}}
		</ion-checkbox>
	</ion-list>
	<ion-item style="text-align: center;background: none;border: none;">
        <button class="button button-block gm-btn-green" ng-click="exportSelectedEvents()">Eport selected</button>
    </ion-item>
  </ion-content>
</ion-view>
