<ion-view view-title="Home">
	<ion-content>
		<div class="list">
			<div class="item item-divider">
				Start Project
			</div>
			<div class="item item-avatar" ng-repeat="cam in user.cameras" ng-click="openStream(cam)">
				<p class="camera-list-item-left"><i class='ion-videocamera'></i></p>
				<h2>{{cam.recorderType}} - <small ng-if="cam.cameraType==='disabled'">No Live view</small> <small ng-if="cam.cameraType!=='disabled'">Live view</small></h2>
				<p>{{cam.cameraIP}}</p>
			</div>
		</div>
	</ion-content>
</ion-view>
