<ion-view view-title="Home">
	<ion-content scroll="false">
		<!-- <div class="list">
			<div class="item item-divider">
				Start Project
			</div>
			<div class="item item-avatar" ng-repeat="cam in user.cameras" ng-click="openStream(cam)">
				<p class="camera-list-item-left"><i class='ion-videocamera'></i></p>
				<h2>{{cam.recorderType}} - <small ng-if="cam.cameraType==='disabled'">No Live view</small> <small ng-if="cam.cameraType!=='disabled'">Live view</small></h2>
				<p>{{cam.cameraIP}}</p>
			</div>
		</div> -->
		<div class="home-left">
		</div>
		<div class="home-right">
			<div class="list">
				<button class="gm-btn-white button btn-home-width" ng-click="startProject();">New Project</button>
				<button class="gm-btn-white button btn-home-width" disabled>Projects</button>
				<button class="gm-btn-white button btn-home-width" ui-sref="app.event_types">Analysis Dashboard</button>
				<button class="gm-btn-white button btn-home-width" ui-sref="app.teams">Teams</button>
				<button class="gm-btn-green button btn-home-width" ui-sref="app.settings">Settings</button>
				<button class="gm-btn-green button btn-home-width" ui-sref="login">Connect Server</button>
			</div>
		</div>
	</ion-content>
</ion-view>
