<ion-view view-title="Login" name="login-view">
	<ion-content class="padding">
		<div class="list list-inset">
			<label class="item item-input item-select">
				<div class="input-label">
					Recorder type
				</div>
				<select ng-model="data.recorderType">
					<option value="vMix" selected>vMix</option>
					<option value="Panofield">Panofield</option>
					<option value="WithoutRecorder">Tag Without Recorder</option>
				</select>
			</label>
			<label class="item item-input">
				<span class="input-label">Recorder IP</span>
				<input type="text" ng-model="data.recorderIP">
			</label>
			<!-- <label class="item item-input item-select">
				<div class="input-label">
					Camera type
				</div>
				<select ng-model="data.cameraType">
					<option value="Dahua">Dahua</option>
					<option value="Axis">Axis</option>
					<option value="LiveStream">Panofield Live Stream</option>
					<option value="disabled" selected>No live view</option>
				</select>
			</label>
			<label class="item item-input">
				<span class="input-label">Stream IP</span>
				<input type="text" ng-model="data.cameraIP">
			</label> -->
			<label class="item item-input">
				<span class="input-label">Username</span>
				<input type="text" placeholder="Username" ng-model="data.username">
			</label>
			<label class="item item-input">
				<span class="input-label">Password</span>
				<input type="password" placeholder="Password" ng-model="data.password">
			</label>
		</div>
		<button class="button button-block button-calm" ng-click="login()">Login</button>
	</ion-content>
</ion-view>
