<ion-view view-title="Recordings">
  <ion-content padding="true">
	<div style="width:100%">
		<a class="item item-icon-left" ng-repeat="recording in recordings.list" ng-href="#/app/recording/{{recording.id}}">
			<i class="icon ion-videocamera"></i>
			{{recording.name}}
			<p style="color:red">
			  {{recording.error}}
			</p>
			<p>Time: {{recording.start | date:'MM/dd/yyyy - H:mm:ss'}} ({{recording.length | secondsToDateTime | date:'HH:mm:ss'}})</p>
			
			
		</a>
	</div>
  </ion-content>
</ion-view>
