<ion-view view-title="Settings">
  <ion-content padding="true">
    <div class="list" id="settingsForm">
      <div class="item item-divider">
        Video Controlls Transparency
      </div>
      <div class="item range range-positive">
        <i class="icon ion-ios-sunny-outline"></i>
        <input type="range" name="volume" min="0" max="100" ng-model="data.vc_transparency">
        <i class="icon ion-ios-sunny"></i>
      </div>
      <div class="item item-divider">
        Dahua Speed
      </div>
      <div class="item range range-positive">
        <i class="icon ion-ios-speedometer-outline"></i>
        <input type="range" name="dahua_speed" min="1" max="8" ng-model="data.dahua_speed">
        <i class="icon ion-ios-speedometer"></i>
      </div>
			<div class="item item-divider">
        Event Configuration
      </div>
			<label class="item item-input">
				<span class="input-label">Event start (time before click) [in seconds]:</span>
				<input type="text" name="event_before" ng-model="data.event_before">
			</label>
			<label class="item item-input">
				<span class="input-label">Event end (time after click) [in seconds]:</span>
				<input type="text" name="event_after" ng-model="data.event_after">
			</label>
			<ion-checkbox ng-model="data.player_picker">Show player picker</ion-checkbox>
			<div class="item item-divider">
        Email Notification
      </div>
			<label class="item item-input">
				<span class="input-label">To:</span>
				<input type="text" name="email_to" ng-model="data.email_to">
			</label>
			<label class="item item-input">
				<span class="input-label">Subject:</span>
				<input type="text" name="email_subject" ng-model="data.email_subject" >
			</label>
			<div class="item item-divider">
        Privacy
      </div>
			<label class="item item-input">
				<span class="input-label">Facebook Share:</span>
				<select ng-model="data.facebook_share">
					<option value="EVERYONE" selected>EVERYONE</option>
					<option value="ALL_FRIENDS">ALL_FRIENDS</option>
					<option value="FRIENDS_OF_FRIENDS">FRIENDS_OF_FRIENDS</option>
					<option value="SELF">SELF</option>
				</select>
			</label>
      <button class="item button button-block gm-btn-green" ng-click="saveSettings()">
        Save
      </button>
    </div>
  </ion-content>
</ion-view>
