<ion-view view-title="Home" hide-nav-bar="true">
	<ion-content padding="true" has-bouncing="false">
		<div>
			<div class="item item-image home-logo red-border">
				<img class="fixed-height" src="img/home-logo.png"/>
			</div>
			<a class="button button-block gm-btn-white" href="#/app/recorder">Recorder</a>
			<a class="button button-block gm-btn-green" href="#/app/events">Tagging</a>
			<div class="fake-div-red-border">
			</div>
		</div>
	</ion-content>
	<div class="item item-image home-logo" style="margin-top: -80px;top:100%">
		<img class="fixed-height-small" src="img/provispo-logo.png"/>
	</div>
</ion-view>
