<ion-view view-title="Stream Control" hide-nav-bar="true">
	<ion-content padding="false" style="height:100%" class="video-page">
	<div ng-controller="StreamCtrl as controller"  class="videogular-container" >

		<img src="http://83.162.175.252:8080/axis-cgi/mjpg/video.cgi?camera=1" class="mjpeg_video"/>
		<div class="mjpeg_controls" style="opacity:{{data.vc_transparency/100}}">
			<div class="panel panel-left">
				<div style="top:auto;bottom:0;position: absolute;">
					<button class="button icon-right ion-arrow-left-c btn-full-width gm-btn-white" ng-click="pan('Left')">Left</button>
					<button class="button icon-right ion-arrow-up-c btn-full-width gm-btn-white" ng-click="pan('Up')">Up</button>
					<button class="button icon-right ion-minus-round btn-full-width gm-btn-white" ng-click="zoom('ZoomWide')">Zoom</button>
				</div>
			</div>
		</div>
		<div class="panel panel-right">
			<div style="top:auto;bottom:0;position: absolute;">
				<button class="button icon-left ion-arrow-right-c btn-full-width gm-btn-white" ng-click="pan('Right')">Right</button>
				<button class="button icon-left ion-arrow-down-c btn-full-width gm-btn-white" ng-click="pan('Down')">Down</button>
				<button class="button icon-left ion-plus-round btn-full-width gm-btn-white" ng-click="zoom('ZoomTele')">Zoom</button>
			</div>
		</div>
		<div class="panel panel-bottom">
			<div class="button-bar">
				<a class="button gm-btn-white" style="padding: 0;height:auto" ng-clicl="gotoPreset(1)">1</a>
				<a class="button gm-btn-white" style="height:auto" ng-clicl="gotoPreset(2)">2</a>
				<a class="button gm-btn-white" style="height:auto" ng-clicl="gotoPreset(3)">3</a>
				<a class="button gm-btn-white" style="padding: 0;height:auto" ng-clicl="gotoPreset(4)">4</a>
			</div>
		</div>
	</div>
	</ion-content>
</ion-view>
