<ion-view view-title="Teams">
	<ion-content padding="true" class="has-footer" scroll="true" overflow-scroll="false">
		<ul class="list">
			<li class="item item item-button-right">
				{{selectedTeam.name}}
				<button class="button button-balanced" ng-click="editTeamName()">
					<i class="icon ion-edit"></i>
				</button>
			</li>
			<li class="item item-divider">
				Player List
			</li>
			<li class="item item-button-right" ng-repeat="player in selectedTeam.players">
				#{{player.number}} - {{player.name}}
				<button class="button button-assertive" ng-click="remove($index)">
					<i class="icon ion-trash-a"></i>
				</button>
			</li>
		</ul>
		<button class="button button-full button-positive" ng-click="addNewPlayer()">
			Add new player
		</button>
	</ion-content>
	<ion-footer-bar class="bar-dark">
		<div class="button-bar">
			<a class="button button-positive" ng-click="selectTeam(1)">Team 1 Setup</a>
			<a class="button button-warning" ng-click="getTeamNames()">Get Teams from recorder</a>
			<a class="button button-positive" ng-click="selectTeam(2)">Team 2 Setup</a>
		</div>
	</ion-footer-bar>
</ion-view>
