.gm-controls {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9000001;
}


/*.line-background {
  background: linear-gradient(0deg, transparent 49%, #e74a43 50%, transparent 51%);
}
.line-background .col {
  background: white
}*/

#annotate {
  /*margin-top:50px;*/
}

li.gm-leatest-events-list {
  list-style-type: disc;
  font-size: 12px;
  line-height: 20px !important;
}

li.gm-leatest-events-list span {
  color: black;
}

li.gm-leatest-events-list span.time {
  color: #a4a4a4
}

.other_events {
  height: 64vh;
  overflow: auto;
  margin-top: -5px;
}

.add-top-margin .list {
  margin-top: 50px;
}

.scrollable_outside_content {
  overflow: hidden;
  padding-top: 0;
}

.popup-container {
  top: 0 !important;
  bottom: auto !important;
}

.video-page>div {
  height: 100%;
  top: 0 !important;
  width: 100%;
  position: absolute;
}

.video-js {
  width: 100%;
  height: 100%;
}

.white-bg {
  background-color: white !important;
}

.home-container {
  width: 100%;
  height: 100%;
  border: 1px solid #ef473a;
}

.home-top {
  float: left;
  position: relative;
  width: 100%;
  height: 45%;
  background-image: url(../../img/home-logo.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 75%;
}

.home-bottom {
  height: 55%;
}

.no-lr-pad {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 0px !important;
}

#LiveStreamVideo {
  width: 100%;
  height: 100%;
}

.panel-medium {
  width: 60% !important;
  ;
  left: 20% !important;
  ;
  top: 10% !important;
}

.font0 {
  font-size: 0;
  visibility: hidden;
  width: 0;
  height: 0;
  display: none;
}

.gm-button.small-line {
  /*line-height: 1.9em !important;*/
  font-size: 14px !important;
}

.new-playback-modal {
  position: relative;
  z-index: 999999;
  background: grey;
  height: 100%;
  /*overflow: auto;*/
}

.playbackListContent {
  width: 100%;
  padding: 0;
  min-height: 60%;
  overflow: scroll;
}

.crop-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.event-list {
  padding-bottom: 0;
  padding-top: 0;
  height: 65px;
  line-height: 32px;
}

.event-list span {
  color: #71a03e;
}

.playback-video-btn-list .button.button-balanced.button-outline {
  color: #71a03e;
  border-color: #71a03e;
}

.event-list.event-list-header {
  text-align: center;
  line-height: 65px;
  text-transform: uppercase;
  color: black;
}

.annotation_panel .col {
  padding: 1px;
}

.gm-button.force-size {
  font-size: 11px !important;
  line-height: 14px !important;
  height: 100%
}

.header-buttons {
  padding-bottom: 0px;
}

.header-buttons .col {
  padding: 1px;
}

.annotation_panel .row {
  padding-top: 1px;
}

.live-view-btn-bottom {
  text-align: center;
  background: none;
  border: none;
  padding: 0;
  width: 100%;
  position: absolute;
  bottom: 13px;
}

.enableScrollableHeight {
  position: relative;
  float: left;
  width: 100%;
}

.bottom-line-container {
  text-align: center;
  margin-top: 10px
}

.settings-home-icon {
  color: white;
  margin-bottom: 10px;
}

button.settings-home-icon {
  color: white;
}

body .row .col .button {
  line-height: 100% !important
}

.v-align {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
