/*@media (min-width: 767px) {
  .menu-content {
    -webkit-transform: translate3d(270px, 0px, 0px) !important;
    width: calc(100% - 270px) !important;
  }
  .bar-header button.ion-navicon {
    display: none;
  }
}*/
.camera-list-item-left {
  position: absolute;
  top: 16px;
  left: 16px;
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.camera-list-item-left i {
  font-size: 35px;
}
.pane {
  background-image: url(../img/background.png);
}
.home-logo {
  background: none;
  border: none;
  margin: 20px 0 50px 0;
}
.home-logo> img.fixed-height {
  max-height: 200px;
  width: auto;
}
.home-logo> img.fixed-height-small {
  max-height: 70px;
  width: auto;
}
.gm-btn-white {
  background: none;
  border: 3px solid white;
  border-radius: 0px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}
.gm-btn-white:hover {
  color: white;
}
.gm-btn-white.active {
  background: none;
}
.gm-btn-green {
  background: none;
  border: 3px solid #62ffb7;
  border-radius: 0px;
  color: #62ffb7;
  text-transform: uppercase;
  font-weight: bold;
}
.gm-btn-green:hover {
  color: #62ffb7;
}
.gm-btn-green.active {
  background: none;
}
.red-border {
  padding: 30px;
  border: 1px solid #e74a43;
  border-bottom: 0;
  margin-bottom: 20px
}
.fake-div-red-border {
  border: 1px solid #e74a43;
  border-top: 0;
  height: 20px
}
.header-logo {
  background-image: url(../img/header-logo.png) !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  min-width: 50px !important;
}
.team-name {
  text-align: center;
  background: grey;
  color: white;
  cursor: pointer;
}
.videogular-container {
  width: 100% !important;
  height: 320px;
  margin: auto;
  overflow: hidden;
}
@media (min-width: 1200px) {
  .videogular-container {
    width: 1170px;
    height: 658.125px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .videogular-container {
    width: 940px;
    height: 528.75px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .videogular-container {
    width: 728px;
    height: 409.5px;
  }
}
videogular div.my-logo-layer {
  position: absolute;
  display: none;
  z-index: 50;
  top: 0;
}
videogular div.my-logo-layer img {
  width: 70px;
  height: auto;
  padding-left: 20px;
  padding-top: 20px;
  opacity: 0.5;
}
videogular div#joystick {
  width: 20%;
  position: absolute;
  display: block;
  z-index: 50;
  bottom: 10%;
  right: 5%;
  opacity: 0.5
}
#video_container {
  position: fixed;
  width: 100%;
  height: 100% !important;
}
.videogular-container {
  height: 100%;
  padding: 0;
  margin: 0;
}

div.panel-left {
  position: absolute;
  display: block;
  z-index: 50;
  top: 0;
  height: 100%;
  width: 20%;
  background-color: rgba(25, 25, 25, 0.5);
  padding-bottom: 20px;
  padding-top:50px;
}
div.panel-right {
  position: absolute;
  display: block;
  z-index: 50;
  top: 0;
  right: 0;
  height: 100%;
  width: 20%;
  background-color: rgba(25, 25, 25, 0.5);
  padding-top:50px;
}
div.panel-top {
  position: absolute;
  display: block;
  z-index: 50;
  top: 0;
  left: 30%;
  /* height: 15%; */
  width: 40%;
  background-color: rgba(25, 25, 25, 0.5);
  padding-top:50px;
}
div.panel-bottom {
  position: absolute;
  display: block;
  z-index: 50;
  bottom: 0;
  left: 30%;
  width: 40%;
  background-color: rgba(25, 25, 25, 0.5);
}
div.panel-modal {
  width: 70%;
  left: 15%;
  position: absolute;
  height: 80%;
  top: 10%;
  background: white;
  z-index: 999999999999999999;
}
.video-page> div {
  height: 100%;
}
.btn-full {
  width: 100%;
  height: 100%;
  margin: 0 !important;
}
.btn-full-width {
  width: 100%;
}
videogular .button {
  border: 1px solid !important;
  height: 75px;
}
videogular .video_controlls {
  opacity: 0.47;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 9999999999999999;
}
.mjpeg_video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.mjpeg_controls {
  position: absolute;
  width: 100%;
  height: 100%;
}
@-webkit-keyframes slideUp {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes slideUpSmooth {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
.slide-up {
  -webkit-animation: slideUpSmooth ease-in 1;
  animation: slideUpSmooth ease-in 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 750ms;
  animation-duration: 750ms;
}
@-webkit-keyframes slideDownSmooth {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 100%, 0);
  }
}
.slide-down {
  -webkit-animation: slideDownSmooth ease-in 1;
  animation: slideDownSmooth ease-in 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 750ms;
  animation-duration: 750ms;
}
#hlsjslive {
  background-color: #2f2f4f;
      height: 100%;
}

.gm-btn-height{
  height:75px;
}
