@media (max-width: 740px) {
  .home-left {
    background-size: 80% 80%;
  }
  .btn-home-width {
    line-height: 20px !important;
    min-height: 35px;
  }
  .gm-btn, .gm-button {
    font-size: 12px;
    border-width: 1px
  }
  .event-list-item {
    font-size: 10px;
    left: 0;
    padding-left: 30px;
    padding-right: 0px;
    text-align: left;
  }
  .event-list-item .icon {
    font-size: 12px;
    left: 0;
  }
  .event-list-item .button {
    float: right;
    right: 0;
  }
  .gm-list>.list>.item {
    padding: 0;
  }
  .limit-child-height>div.list {
    max-height: 185px;
    overflow: scroll;
  }
  .event-list span.item {
    font-size: 12px;
    left: 0;
    padding-left: 30px;
  }
  .event-list .icon {
    font-size: 14px;
    left: 0
  }
  #annotate {
    margin-top: 0px;
  }
  .gm-md-font {
    font-size: 9px
  }
  .gm-large-font {
    font-size: 25px !important;
  }
  .gm-huge-font {
    font-size: 15px;
  }
  .gm-button {
    /*line-height: 4vh !important;*/
  }
  .gm-big-button {
    line-height: 12vh !important;
  }
  li.gm-leatest-events-list {
    list-style-type: disc;
    font-size: 8px;
    line-height: 10px !important;
  }
  .other_events {
    height: 44vh;
  }
  .btn-gm-circle {
    width: 45px;
    height: 45px;
    min-width: 45px;
  }
  .gm-btn-rounded-group button:before {
    font-size: 24px !important;
  }
  .gm-btn-rounded-group span {
    font-weight: 700;
    font-size: 14px !important;
  }
  .gm-btn-rounded-group {
    line-height: 15px !important;
  }
  .bottom-line-container {
    margin-top: 0px
  }
  .settings-home-icon {
    color: white;
    margin-bottom: 0px;
  }
  .gm-button.force-size {
    font-size: 8px !important;
    line-height: 8px !important;
  }
  .button {
    min-height: 45px;
  }
  .undo-btn:before {
    font-size: 30px !important;
    line-height: 30px !important;
  }
  .event-list {
    height: 30px;
    line-height: 0px;
  }
  .playback-video-btn-list {
    margin-top: 0;
  }
  .playback-video-btn-list button {
    min-width: 10px;
    min-height: 10px;
  }
	.playback-video-btn-list button:before{
		font-size:15px
	}
	.liveViewArea{
		visibility:hidden;
	}
	.home-bottom .col{
		padding:0;
	}
	.home-bottom .row{
		padding:0;
	}
}
/*iPhone 6 landscape*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : landscape) { 
  .home-bottom .row{
    padding:5px;
  }
}

@media (max-width: 480px){
  .abs-col-1, .abs-col-2, .abs-col-3{
    position: absolute;
    left: 38%;
  }
  .abs-col-1{
    top: 276px;
  }
  .abs-col-2{
    top: 320px;
  }
  .abs-col-3{
    top: 370px;
  }
  .iphone-col.col-20{
    max-width: 25%;
  }
  .iphone-col .button{
    font-size: 10px;
    min-width: 99px;
    min-height: 60px;
    padding: 0;
  }
  .abs-col-1 .button, .abs-col-2 .button, .abs-col-3 .button{
    min-width: 45px;
  }
  .first-team{
    margin-left: 20px;
  }
  .second-team{
    margin-left: 39px;
  }
  .relative-div{
    position: relative;
  }
 .gm-button.force-size.match-recorder{
    position: absolute;
    min-width: 32px;
    max-width: 99px;
    min-height: 29px!important;
    height: 21px!important;
    line-height: inherit!important;
    padding: 0!important;
    font-size: 7px!important;
 }
  .gm-button.force-size.match-recorder.second{
    top: 37px;
    left: 6px;
  }
  .no-bg .v-align{
    font-size: 19px;
    /*position: absolute;
    top: -10px;
    left: -35px;*/
    left: 69px;
  }
  .center-time .v-align{
        position: absolute;
    top: 50px;
    left: -142px;
  }
  .undo-btn:before{
    font-size: 14px!important;
  }
  .no-bg .v-align{
    left: 39px;
    top: 5px;
  }
  .center-time .v-align{
    left: -142px;
    top: 23px;
  }
  .gm-button.force-size.match-recorder{
            max-width: 98px;
    top: 37px;
    left: 208px;
  }
 
  
  .second-team{
    margin-left: 61px;
  }
  .first-team{
    margin-left: -81px;
  }
  .gm-button.force-size.match-recorder.second{
    top: 37px;
    left: 108px;
  }

  .one-team-abs{
    position: absolute;
    right: 103px;
    top: 150px;
  }
  .iphone-col.one-team-abs .button{
    min-width: 49px;
  }
  .iphone-col.one-team-abs .button:first-child{
    left: -1px;
  }
  .iphone-col.one-team-abs .button:last-child{
    left: -2px;
  }
}

@media (max-width: 380px){
  .no-bg .v-align{
    left: 64px;
  }
  .center-time .v-align{
       
    left: -100px;
  }
  
  .gm-button.force-size.match-recorder{
    max-width: 89px;
  }
  .abs-col-1{
    top: 276px;
  }
  .abs-col-2{
    top: 320px;
  }
  .abs-col-3{
    top: 370px;
  }
  .iphone-col.col-20{
    max-width: 25%;
  }
  .iphone-col .button{
    font-size: 10px;
    min-width: 90px;
    min-height: 60px;
  }
  .abs-col-1 .button, .abs-col-2 .button, .abs-col-3 .button{
    min-width: 45px;
  }
  .no-bg .v-align{
    left: 37px;
    top: 5px;
  }
  .center-time .v-align{
    left: -126px;
    top: 23px;
  }
  .gm-button.force-size.match-recorder{
        max-width: 89px;
    top: 37px;
    left: 189px;
  }
 
  
  .second-team{
    margin-left: 55px;
  }
  .first-team{
    margin-left: -73px;
  }
  .gm-button.force-size.match-recorder.second{
    top: 37px;
    left: 98px;
  }
  
  .one-team-abs{
      right: 92px;
  }

  .iphone-col.one-team-abs .button{
    min-width: 45px;
  }
}

@media (max-width: 330px){
  
  .no-bg .v-align{
    left: 30px;
    top: 5px;
  }
  .center-time .v-align{
    left: -108px;
    top: 23px;
  }
  .gm-button.force-size.match-recorder{
    max-width: 76px;
    top: 37px;
    left: 161px;
  }
  .iphone-col .button{
    min-width: 76px;
  }
  .iphone-col .button.undo-btn{
    min-width: 23px;
  }
  .second-team{
    margin-left: 47px;
  }
  .first-team{
    margin-left: -62px;
  }
  .gm-button.force-size.match-recorder.second{
    top: 37px;
    left: 84px;
  }
  .one-team-abs{
    right: 79px;
    top: 151px;
  }
  .iphone-col.one-team-abs .button{
    min-width: 38px;
  }
  .iphone-col.one-team-abs .button:first-child{
    left: 79px;
  }
  .iphone-col.one-team-abs .button:last-child{
    left: 76px;
  }
.iphone-col.one-team-abs.col-20{
  max-width: 50%;
}
}

.mobile{
  display: none;
}


@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
  .desktop{
     display: none;
   }
  .mobile{
    display: block;
  }
  .home-bottom .col{
    padding: 2px;
  }
  .mobile .btn-gm-circle{
    width: 125px;
    height: 125px;
  }
  .home-top{
    height: 42%;
  }

}





@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
   /* .mobile-lg{
      display: none;
    }*/
   .desktop{
     display: none;
   }
  .mobile{
    display: block;
  }
  .home-bottom .col{
    padding: 2px;
    padding-bottom: 15px;
  }
  .mobile .btn-gm-circle{
    width: 100px;
    height: 100px;
  }
  .home-top{
    height: 42%;
  }
  .iphone-col.col-10 .button.plus-btn{
    min-width: 129%;
  }
  .annotation_panel .col.res{
    padding-top: 20px;
    text-align: center;
    font-size: 18px;
  }
  .iphone-col.col-30{
    max-width: 35%;
    max-height: 62px;
  }
  .iphone-col.col-30 .button{
    min-width: 100%px;
  }
  /*.relative-div{
    display: none;
  }*/
  .iphone-col .button{
    min-width: 100%;
        min-height: 60px;
  }
  .gm-btn-rounded-group button:before{
    font-size: 42px!important;
  }

  .recorder-start{
    display: none;
  }

  .relative-div{
    display: none;
  }

  .large-screen{
    display: none;
  }

  .small-screen{
    display: block;
  }

  .small-screen .match-time, .fixed-row .match-time{
    color: #71a03e;

    font-size: 22px;

  }

  

  .small-screen .col-15, .fixed-row .col-15{
    max-width: 13.3%;
  }

  .two-large-screen{
    display: none;
  }

  .two-small-screen{
    display: block;
  }

  .two-small-screen .col-15{
    max-width: 13%;
  }

  .two-small-screen .match-time span{
    color: #71a03e;

    font-size: 22px;

  }

  .fixed-row .col{
    padding: 1px;
  }

    .small-screen .match-time, .two-small-screen .match-time, .fixed-row .match-time{
    text-align: center;
    margin-top: 4px;
  }

  .fixed-row{
    display: block;
  }

  .scrollable_outside_content{
      margin-top: -6px;
    }
    .iphone-col .button{
      min-height: 60px;
    }
    .iphone-col.col-30{
      max-height: 63px;
    }
    .button{
      font-size: 10px;
    }

    li.gm-leatest-events-list{
      font-size: 8px;
    }

    .abs-col-2{
      left: 36%;
      top: 95px;
    }

    .iphone-col.col-30.undo-redo .button{
      min-width: 49%;
      max-width: 56px;
      width: 100%;
    }
    .iphone-col.col-30.undo-redo .button:first-child{
      float: left;
    }
    .iphone-col.col-30.undo-redo .button:last-child{
      float: right;
    }

    .small-screen .match-time, .fixed-row .match-time{
      padding-top: 20px;
      font-size: 32px;
      color: #2375b7;
    }

    .score, .add-score{
      font-size: 18px;
    }

    .col-30.col-11, .col-20.col-11{
      max-width: 11.1%;
    }

    .iphone-col.col-30{
      max-height: 70px;
    }

    .iphone-col .button{
      min-height: 67px;
    }

     .col-30.start-match, .col-30.match-start{
      max-height: 50px;
    }

    .start-match .button, .match-start .button{
      min-height: 48px;
    }

    .players-screen .col{
      padding: 1px;
    }

    .player-screen .col-30.col-11, .player-screen .col-20.col-11{
      max-height: 82px!important;
    }

    .player-screen .col-30.col-11 .button, .player-screen .col-20.col-11 .button{
      min-height: 80px!important;
    }

}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 380px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
     .iphone-col.col-30.undo-redo .button{
    
      max-width: 45px;
   
    }
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 330px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .iphone-col .button{
      min-height: 58px;
    }
    .iphone-col.col-30{
      max-height: 60px;
    }
    .iphone-col .button.half{
      min-height: 45px;
    }
    .abs-col-2{
      top: 85px;

    }
      li.gm-leatest-events-list{
      font-size: 7px;
    }
    .iphone-col.col-30.undo-redo .button{
      max-width: 30%;
    }

    .small-screen .match-time, .fixed-row .match-time{
      padding-top: 10px;
    }

    .col-30.start-match, .col-30.match-start{
      max-height: 50px;
    }

    .start-match .button, .match-start .button{
      min-height: 48px;
    }
    
  }