@media (max-width: 740px) {
  .home-left {
    background-size: 80% 80%;
  }
  .btn-home-width {
    line-height: 20px !important;
    min-height: 35px;
  }
  .gm-btn, .gm-button {
    font-size: 12px;
    border-width: 1px
  }
  .event-list-item {
    font-size: 10px;
    left: 0;
    padding-left: 30px;
    padding-right: 0px;
    text-align: left;
  }
  .event-list-item .icon {
    font-size: 12px;
    left: 0;
  }
  .event-list-item .button {
    float: right;
    right: 0;
  }
  .gm-list>.list>.item {
    padding: 0;
  }
  .limit-child-height>div.list {
    max-height: 185px;
    overflow: scroll;
  }
  .event-list span.item {
    font-size: 12px;
    left: 0;
    padding-left: 30px;
  }
  .event-list .icon {
    font-size: 14px;
    left: 0
  }
  #annotate {
    margin-top: 0px;
  }
  .gm-md-font {
    font-size: 9px
  }
  .gm-large-font {
    font-size: 25px !important;
  }
  .gm-huge-font {
    font-size: 15px;
  }
  .gm-button {
    /*line-height: 4vh !important;*/
  }
  .gm-big-button {
    line-height: 12vh !important;
  }
  li.gm-leatest-events-list {
    list-style-type: disc;
    font-size: 8px;
    line-height: 10px !important;
  }
  .other_events {
    height: 44vh;
  }
  .btn-gm-circle {
    width: 45px;
    height: 45px;
    min-width: 45px;
  }
  .gm-btn-rounded-group button:before {
    font-size: 24px !important;
  }
  .gm-btn-rounded-group span {
    font-weight: 700;
    font-size: 10px !important;
  }
  .gm-btn-rounded-group {
    line-height: 15px !important;
  }
  .bottom-line-container {
    margin-top: 0px
  }
  .settings-home-icon {
    color: white;
    margin-bottom: 0px;
  }
  .gm-button.force-size {
    font-size: 8px !important;
    line-height: 8px !important;
  }
  .button {
    min-height: 45px;
  }
  .undo-btn:before {
    font-size: 30px !important;
    line-height: 30px !important;
  }
  .event-list {
    height: 30px;
    line-height: 0px;
  }
  .playback-video-btn-list {
    margin-top: 0;
  }
  .playback-video-btn-list button {
    min-width: 10px;
    min-height: 10px;
  }
	.playback-video-btn-list button:before{
		font-size:15px
	}
	.liveViewArea{
		visibility:hidden;
	}
	.home-bottom .col{
		padding:0;
	}
	.home-bottom .row{
		padding:0;
	}
}
/*iPhone 6 landscape*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : landscape) { 
  .home-bottom .row{
    padding:5px;
  }
}

@media (max-width: 480px){
  .abs-col-1, .abs-col-2, .abs-col-3{
    position: absolute;
    left: 38%;
  }
  .abs-col-1{
    top: 276px;
  }
  .abs-col-2{
    top: 320px;
  }
  .abs-col-3{
    top: 370px;
  }
  .iphone-col.col-20{
    max-width: 25%;
  }
  .iphone-col .button{
    font-size: 10px;
    min-width: 99px;
    min-height: 60px;
    padding: 0;
  }
  .abs-col-1 .button, .abs-col-2 .button, .abs-col-3 .button{
    min-width: 45px;
  }
  .first-team{
    margin-left: 20px;
  }
  .second-team{
    margin-left: 39px;
  }
  .relative-div{
    position: relative;
  }
 .gm-button.force-size.match-recorder{
    position: absolute;
    min-width: 32px;
    max-width: 99px;
    min-height: 29px!important;
    height: 21px!important;
    line-height: inherit!important;
    padding: 0!important;
    font-size: 7px!important;
 }
  .gm-button.force-size.match-recorder.second{
    top: 37px;
    left: 6px;
  }
  .no-bg .v-align{
    font-size: 19px;
    /*position: absolute;
    top: -10px;
    left: -35px;*/
    left: 69px;
  }
  .center-time .v-align{
        position: absolute;
    top: 50px;
    left: -142px;
  }
  .undo-btn:before{
    font-size: 14px!important;
  }
  .no-bg .v-align{
    left: 39px;
    top: 5px;
  }
  .center-time .v-align{
    left: -142px;
    top: 23px;
  }
  .gm-button.force-size.match-recorder{
            max-width: 98px;
    top: 37px;
    left: 208px;
  }
 
  
  .second-team{
    margin-left: 61px;
  }
  .first-team{
    margin-left: -81px;
  }
  .gm-button.force-size.match-recorder.second{
    top: 37px;
    left: 108px;
  }

  .one-team-abs{
    position: absolute;
    right: 103px;
    top: 150px;
  }
  .iphone-col.one-team-abs .button{
    min-width: 49px;
  }
  .iphone-col.one-team-abs .button:first-child{
    left: -1px;
  }
  .iphone-col.one-team-abs .button:last-child{
    left: -2px;
  }
}

@media (max-width: 380px){
  .no-bg .v-align{
    left: 64px;
  }
  .center-time .v-align{
       
    left: -100px;
  }
  
  .gm-button.force-size.match-recorder{
    max-width: 89px;
  }
  .abs-col-1{
    top: 276px;
  }
  .abs-col-2{
    top: 320px;
  }
  .abs-col-3{
    top: 370px;
  }
  .iphone-col.col-20{
    max-width: 25%;
  }
  .iphone-col .button{
    font-size: 10px;
    min-width: 90px;
    min-height: 60px;
  }
  .abs-col-1 .button, .abs-col-2 .button, .abs-col-3 .button{
    min-width: 45px;
  }
  .no-bg .v-align{
    left: 37px;
    top: 5px;
  }
  .center-time .v-align{
    left: -126px;
    top: 23px;
  }
  .gm-button.force-size.match-recorder{
        max-width: 89px;
    top: 37px;
    left: 189px;
  }
 
  
  .second-team{
    margin-left: 55px;
  }
  .first-team{
    margin-left: -73px;
  }
  .gm-button.force-size.match-recorder.second{
    top: 37px;
    left: 98px;
  }
  
  .one-team-abs{
      right: 92px;
  }

  .iphone-col.one-team-abs .button{
    min-width: 45px;
  }
}

@media (max-width: 330px){
  
  .no-bg .v-align{
    left: 30px;
    top: 5px;
  }
  .center-time .v-align{
    left: -108px;
    top: 23px;
  }
  .gm-button.force-size.match-recorder{
    max-width: 76px;
    top: 37px;
    left: 161px;
  }
  .iphone-col .button{
    min-width: 76px;
  }
  .iphone-col .button.undo-btn{
    min-width: 23px;
  }
  .second-team{
    margin-left: 47px;
  }
  .first-team{
    margin-left: -62px;
  }
  .gm-button.force-size.match-recorder.second{
    top: 37px;
    left: 84px;
  }
  .one-team-abs{
    right: 79px;
    top: 151px;
  }
  .iphone-col.one-team-abs .button{
    min-width: 38px;
  }
  .iphone-col.one-team-abs .button:first-child{
    left: 79px;
  }
  .iphone-col.one-team-abs .button:last-child{
    left: 76px;
  }
.iphone-col.one-team-abs.col-20{
  max-width: 50%;
}
}