@media (max-width: 740px) {
  .home-left {
    background-size: 80% 80%;
  }
  .btn-home-width {
    line-height: 20px !important;
    min-height: 35px;
  }
  .gm-btn, .gm-button {
    font-size: 12px;
    border-width: 1px
  }
  .event-list-item {
    font-size: 10px;
    left: 0;
    padding-left: 30px;
    padding-right: 0px;
    text-align: left;
  }
  .event-list-item .icon {
    font-size: 12px;
    left: 0;
  }
  .event-list-item .button {
    float: right;
    right: 0;
  }
  .gm-list>.list>.item {
    padding: 0;
  }
  .limit-child-height>div.list {
    max-height: 185px;
    overflow: scroll;
  }
  .event-list span.item {
    font-size: 12px;
    left: 0;
    padding-left: 30px;
  }
  .event-list .icon {
    font-size: 14px;
    left: 0
  }
  #annotate {
    margin-top: 0px;
  }
  .gm-md-font {
    font-size: 9px
  }
  .gm-large-font {
    font-size: 25px !important;
  }
  .gm-huge-font {
    font-size: 15px;
  }
  .gm-button {
    /*line-height: 4vh !important;*/
  }
  .gm-big-button {
    line-height: 12vh !important;
  }
  li.gm-leatest-events-list {
    list-style-type: disc;
    font-size: 8px;
    line-height: 10px !important;
  }
  .other_events {
    height: 44vh;
  }
  .btn-gm-circle {
    width: 45px;
    height: 45px;
    min-width: 45px;
  }
  .gm-btn-rounded-group button:before {
    font-size: 24px !important;
  }
  .gm-btn-rounded-group span {
    font-weight: 700;
    font-size: 10px !important;
  }
  .gm-btn-rounded-group {
    line-height: 15px !important;
  }
  .bottom-line-container {
    margin-top: 0px
  }
  .settings-home-icon {
    color: white;
    margin-bottom: 0px;
  }
  .gm-button.force-size {
    font-size: 8px !important;
    line-height: 8px !important;
  }
  .button {
    min-height: 45px;
  }
  .undo-btn:before {
    font-size: 30px !important;
    line-height: 30px !important;
  }
  .event-list {
    height: 30px;
    line-height: 0px;
  }
  .playback-video-btn-list {
    margin-top: 0;
  }
  .playback-video-btn-list button {
    min-width: 10px;
    min-height: 10px;
  }
	.playback-video-btn-list button:before{
		font-size:15px
	}
	.liveViewArea{
		visibility:hidden;
	}
	.home-bottom .col{
		padding:0;
	}
	.home-bottom .row{
		padding:0;
	}
}
